body {
    margin: 0;
    font-family: 'Poppins';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: whitesmoke;
    color: #222;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .navbar {
    min-height: 45px;
    background-color: #222;
    color: white;
    box-shadow: 0px 1px 10px #444;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100vw;
    overflow: hidden;
    padding: 5px 0 0;
  }
  
  .navheader {
    position: absolute;
    left: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: white;
    text-decoration: none;
    margin: 4px 0 0 20px;
    cursor: pointer;
  }
  
  .navitem {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    margin: 8px 40px 8px 0;
    height: 20px;
    cursor: pointer;
    float: right;
  }
  
  /* Content less than full page */
  /* .footer {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100vw;
    text-align: center;
    background-color: gainsboro;
    color: #444;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0 5px;
  } */

  .footer {
    height: auto;
    width: 100vw;
    margin: 50px 0 0;
    text-align: center;
    background-color: gainsboro;
    color: #444;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0 5px;
  }
  
  @media(hover: hover) and (pointer: fine) {
    .navheader:hover, .navitem:hover {
      text-decoration: underline;
    }
  }
  
  /* Landing Page */
  
  .frame1 {
    display: block;
    width: 100vw;
    height: 100vh;
  }
    
  .image1 {
    margin: 75px 0 0;
    width: auto;
    height: 30vh;
  }

  .author {
    font-family: 'Montserrat';
    display: inline-block;
    margin: 0 auto 0 10px;
    vertical-align: super
  }

  .date {
    display: inline-block;
    font-size: 1em;
    color: #666;
    margin: 0 auto 0 10px;
    vertical-align: super
  }

  .headshot {
    height: 3em;
    width: auto;
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
  }

  .text {
    max-width: 1000px;
    width: 90vw;
    font-family: 'Roboto';
    text-align: justify;
    line-height: 1.5em;
  }
  
  
  .bar {
    
    background: linear-gradient(to right,whitesmoke, #222 10%, #222 90%, whitesmoke);
    width: 90vw;
    max-width: 900px;
    height: 5px;
    margin: 20px auto;
  }